FLUX Image Generation.json
{
  "name": "FLUX Image Generation",
  "nodes": [
    {
      "parameters": {
        "url": "={{ $json.result.sample }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        -32
      ],
      "id": "e0e22d6e-4965-4a46-a9cd-1f0bbdd340cf",
      "name": "Get Result"
    },
    {
      "parameters": {
        "url": "={{ $('Start FLUX Generation Job').item.json.polling_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        -16
      ],
      "id": "fb533f06-bc29-464c-8dc7-0b47c8c9a0c2",
      "name": "Do the Polling",
      "credentials": {
        "httpHeaderAuth": {
          "id": "CAv7c7W9D6fFRFHV",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d35ae158-063c-49e6-a13b-3c7fe086534f",
              "leftValue": "={{ $json.status }}",
              "rightValue": "=Ready",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        -16
      ],
      "id": "82799200-20ab-4544-9d12-ac201de16bf6",
      "name": "Is it ready?"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        432,
        224
      ],
      "id": "5423299e-cb45-484e-8ac1-4ce2b4370ff2",
      "name": "Wait",
      "webhookId": "b7b3b366-8210-4e20-883f-a959eeb6ee1b"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.bfl.ai/v1/flux-kontext-pro",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.Prompt }}"
            },
            {
              "name": "aspect_ratio",
              "value": "1:1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -64,
        -16
      ],
      "id": "42f0bc12-a055-4e3f-b7dc-036a0113b8b1",
      "name": "Start FLUX Generation Job",
      "credentials": {
        "httpHeaderAuth": {
          "id": "CAv7c7W9D6fFRFHV",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Black Forest Lab Generation",
        "formDescription": "Add your prompt and go ✨",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Prompt"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -384,
        -16
      ],
      "id": "c76909cf-c2eb-4585-b2d2-d284b9b0099d",
      "name": "On form submission",
      "webhookId": "5962d169-7bd9-4788-a807-463e5982bb03"
    },
    {
      "parameters": {
        "content": "## Start a Black Forst Lab Job\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n^--- Here you can customize Parameters and Model",
        "height": 432,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -144,
        -128
      ],
      "typeVersion": 1,
      "id": "d09ec059-d4cd-46cc-b156-a71a32a57feb",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## ✨ Get the Result\n",
        "height": 256,
        "width": 256,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        -128
      ],
      "typeVersion": 1,
      "id": "7f75b553-0aea-4fc1-b169-e2d3fffe1a15",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Add you Magic here",
        "height": 224,
        "width": 224,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        880,
        -112
      ],
      "typeVersion": 1,
      "id": "a87cfd33-da59-415b-99a9-5117f133321e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Choose your Input\n\nForm is simple.\nYou can also use Webhook to connect to any Frontend",
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -448,
        -160
      ],
      "typeVersion": 1,
      "id": "641a751a-1083-478f-b347-3af6245bd206",
      "name": "Sticky Note3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        928,
        -32
      ],
      "id": "a2f1f6be-5f7f-4d32-9e78-e7d013e12935",
      "name": "Your Use-Case? ❤️"
    },
    {
      "parameters": {
        "content": "## The Result comes Asynchronous\n\n\n\n\n\n\n\n\n\nYou can leave this block. we essentially are checking back every 1second if the image is done",
        "height": 288,
        "width": 352,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        224,
        128
      ],
      "typeVersion": 1,
      "id": "db81d677-4d59-4e9d-87ad-568e1f4de5bf",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "connections": {
    "Do the Polling": {
      "main": [
        [
          {
            "node": "Is it ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is it ready?": {
      "main": [
        [
          {
            "node": "Get Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Do the Polling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start FLUX Generation Job": {
      "main": [
        [
          {
            "node": "Do the Polling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Start FLUX Generation Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Result": {
      "main": [
        [
          {
            "node": "Your Use-Case? ❤️",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "28f43344-85cf-4272-8be6-46230c192bca",
  "meta": {
    "instanceId": "ecec1cfe760b632dcb0132ecf2ac7c047c6f290f3f4a5640e2e2466f0269ccaf"
  },
  "id": "nO25TwjW2sQmBnw5",
  "tags": []
}